@import 'tailwindcss';
@import '@heroui/styles';

@theme {
  --color-bg: #fafafa;
  --color-foreground: #fafafa;
  --color-status: #c4c4c4;
  --color-border: #00000010;
  --color-border-dark: #00000060;
  --color-alt: #00000060;
  --color-accent: #3191ff;
}

.dark {
  --color-bg: #161717;
  --color-foreground: #282828;
  --color-status: #161717;
  --color-border: #ffffff10;
  --color-border-dark: #ffffff60;
  --color-alt: #ffffff70;
  --color-accent: #78b7ff;
}

:root {
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --keyboard-height: 0px;
}

#root {
  height: 100dvh;
  overflow: hidden;
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100dvh;
}

button,
[role='button'],
.tap-none {
  -webkit-tap-highlight-color: transparent;
}

.scroll-container {
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: contain;
}

.pt-safe {
  padding-top: env(safe-area-inset-top);
}

.pb-safe {
  padding-bottom: env(safe-area-inset-bottom);
}

.pl-safe {
  padding-left: env(safe-area-inset-left);
}

.pr-safe {
  padding-right: env(safe-area-inset-right);
}

.mb-safe {
  margin-bottom: env(safe-area-inset-bottom);
}

.mt-safe {
  margin-top: env(safe-area-inset-top);
}
